
  *{ margin: 0;
     padding: 0;
    } 
    body{
        
        background-image: url(./todo.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100% ; 
        background-attachment: fixed; 
        height: auto;
        width: auto;
        overflow: auto;
      
        background: linear-gradient(139 deg,#0353ffcb ,#ff0381b6 90%);
       
    } 
    .notcompleted input
    {
        width: 100%;
        background-color: rgb(236, 13, 50);
    
    } 
    .container
    {    position: relative;
        padding: 15px;
        margin: auto; 
        max-width: 800px;
        
    } 
    .addtask
    {
        display: flex;
        width: 100%;
        padding: 15px;
    }
    .addtask > input[type = "text"] 
    {
      width: 90%;
      color: #333;
      border: none ;
      border-bottom: 2px solid #666;
      background: none;
      padding: 10px;
      font-size: 22px;
      outline: none;    
    } 
    .addtask button
    {
        margin: 0 10px ;
        background-color: #222;
        color: #fff;
        font-size: 18px;
        border-radius: 5px;
        border: none;
        padding: 5px;
        cursor: pointer;
    } 

    .notcompleted ,.completed
   {
     margin: 10px;
     padding: 20px;
   } 
   h3{
       text-align: center;
       font-size: 20px;
       color: white;
   } 
   ol{
       list-style: none;
       counter-reset: section;
       
      

   } 
   ol li 
{
    width: 100%;
    padding: 18px;
    margin: 5px 0;
    background: rgb(238, 138, 55);
     font-size: 22px;
     color: honeydew; 
     
    
    
} 

.completed li
{
 background: rgb(56, 194, 56);
 
}  

li button
{
    padding: 2px;
    float: right;
    font-size: 22px;
    line-height: 22px;
    background: none;
    border: none;
    margin-right: 15px;
    outline: none;
    cursor: pointer;
    

} 

 ol li::before 
{
    counter-increment: section;
  content :  counter(section);
  background-color: indigo;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  border-radius: 100%;
  display: inline-block;
  text-align: center;
  margin-right:2%;
}
@media only screen and (max-width: 800px){
body
    {background-image: url(./todoc1.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100% ; }
        
        .notcompleted ,.completed
        {
          margin: 32px ;
          padding: 20px;
          margin-left:-1px;
     
        }
        
        h3{
            color:black
          }
        
        
        

 }
